.bg-image {
    background-size: cover;
    background-position: center;
    height: 400px;
}

.text-white h1, .text-white p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#services .col-md-4 {
    margin-bottom: 20px;
}

#gallery .img-fluid {
    height: 200px;
    object-fit: cover;
}
 /* Additional Styling */
 #gallery img {
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
}